@keyframes loadIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 25;
  }
  50% {
    opacity: 50;
  }
  75% {
    opacity: 75;
  }
  100% {
    opacity: 100;
  }
}

@keyframes screenSaver {
  0% {
    transform: translate(300px, 0%);
  }
  25% {
    transform: translate(0px, 100px);
  }
  50% {
    transform: translate(300px, 100px);
  }
  75% {
    transform: translate(0%, 100px);
  }
  100% {
    transform: translate(300px, 0%);
  }
}
