@keyframes loadIn {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

@keyframes screenSaver {
  0% {
    margin-left: 0%;
    margin-top: 0%;
  }
  50% {
    margin-left: 100%;
    margin-top: 50%;
  }
  100% {
    margin-left: 0%;
    margin-top: 0%;
  }
}
