@media screen and (min-width: 1024px) {
  /* device section */
  .device {
    border-radius: 0px;
    margin-top: 10px;
  }

  .keyboard {
    margin-bottom: 10px;
  }

  .deviceFullSize {
    margin-top: 0px;
  }

  .keyboard {
    display: block;
  }

  .startBtn {
    height: 25px;
    width: 25px;
    align-self: flex-end;
    margin-right: 1.7%;
  }

  .btnSquare {
    border-radius: 100%;
  }

  .backgroundColorDivRed,
  .backgroundColorDivGreen,
  .backgroundColorDivBlue {
    height: 100px;
    width: 100px;
  }
}
