/* settings */
:root {
  --font-color: rgb(31, 31, 31);
  --device-color: rgb(49, 49, 49);
  --screen-color: rgb(208, 208, 208);
  --app-dark-background-color: rgb(246, 246, 189);
  --app-light-background-color: rgb(221, 221, 196);
}

* {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: 'VT323';
  src: url('/fonts/VT323-Regular.woff2') format('woff2'),
    url('/fonts/VT323-Regular.woff') format('woff');
}

body {
  font-size: 16px;
  height: 100vh;
  width: 100%;
  background-color: crimson;
  color: var(--font-color);
  font-family: 'VT323';
}

.hidden {
  display: none !important;
}

.show {
  display: inline-block;
}

/* main */
main {
  height: 100%;
  width: 100%;
}

/* device section */
.deviceSection {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.device {
  height: 90%;
  width: 80%;
  background-color: var(--device-color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: 0.5s;
}

.deviceFullSize {
  height: 100%;
  width: 100%;
  border-radius: 0px;
  box-shadow: inset 0 0 20px black;
}

.screen {
  height: 85%;
  width: 90%;
  background-color: var(--screen-color);
  background-size: cover;
  box-shadow: inset 0 0 5px black;
  position: relative;
}

.startBtn {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-color: aliceblue;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.startBtn:hover {
  box-shadow: inset 2px 2px 2px black;
}

.startBtn:hover .btnSquare {
  scale: 0.95;
}

.btnSquare {
  height: 15px;
  width: 15px;
  border: 2px solid black;
}

.keyboard {
  height: 30%;
  width: 70%;
  background-color: var(--device-color);
  display: none;
}

/* icons */
.iconsContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  padding: 15px;
}

.iconContainer {
  height: 75px;
  width: 75px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.iconContainer img {
  height: 100%;
  width: 100%;
  transition: 0.2s ease;
  cursor: pointer;
}

.iconContainer img:hover {
  scale: 0.95;
}

/* icons function */
.iconBox {
  height: 100%;
  width: 100%;
  background-color: var(--app-dark-background-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.iconBoxClose {
  height: 30px;
  width: 30px;
  margin-top: 5px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(210, 9, 9);
  align-self: flex-end;
  transition: 0.3s ease;
}

.iconBoxClose:hover {
  scale: 0.95;
}

.iconBoxContentContainer {
  height: 90%;
  width: 95%;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--app-light-background-color);
}

/* email icon function */
.emailContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 15px;
}

.emailContent p {
  font-size: 24px;
  text-align: center;
}

.emailContent img {
  height: 150px;
  width: 150px;
  animation: jump infinite ease 2s;
}

.emailContent button {
  background-color: rgb(231, 68, 68);
  height: 50px;
  width: auto;
  border: none;
  color: white;
  border-radius: 10px;
  transition: 0.5s ease;
}

.emailContent button p {
  font-family: 'VT323';
  font-size: 16px;
}

.emailContent button:hover {
  background-color: rgb(231, 68, 68);
  scale: 1.05;
  cursor: pointer;
}

.replyInputField {
  background-color: rgb(252, 252, 252);
  width: 70%;
  height: 50%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.backgroundImg {
  background-image: url('../images/mobileBackground.jpeg');
  object-fit: fill;
}

/* Settings icon function */
.settingsContent {
  width: 80%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
