* {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: 'VT323';
  src: url('fonts/VT323-Regular.woff') format('woff'),
    url('fonts/VT323-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'PressStart';
  src: url('fonts/PressStart2P-Regular.woff'),
    url('fonts/PressStart2P-Regular.woff2');
}

/* header */

body {
  font-size: 16px;
  height: 100vh;
  width: 100%;
  font-family: 'PressStart';
}

/* main */
main {
  height: 100%;
  width: 100%;
}

/* computer section */
.computerSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 10px;
}

.chassis {
  height: 40%;
  width: 80%;
  background-color: rgb(179, 179, 179);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.chassis p {
  position: absolute;
  bottom: 3px;
}

.powerBtn {
  border-radius: 100%;
  height: 15px;
  width: 15px;
  background-color: brown;
  position: absolute;
  bottom: 5px;
  right: 3px;
  cursor: pointer;
}

.screen {
  width: 90%;
  height: 85%;
  display: flex;
  background-color: rgb(0, 0, 0);
  transition: 1.5s ease-in;
  position: relative;
}

.keyboard {
  height: 5rem;
  width: 60%;
  background-color: rgb(118, 118, 118);
}

.powerSaver {
  height: 10px;
  width: 10px;
  background-color: azure;
  animation: screenSaver 6s infinite;
  transition: all;
  position: absolute;
}

/* animation classes */
.screenStart {
  animation: loadIn ease-in;
  background-color: green;
}
