:root {
  --device-color: rgb(49, 49, 49);
  --screen-color: rgb(208, 208, 208);
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-size: 16px;
  height: 100vh;
  width: 100%;
  background-color: crimson;
}

.hidden {
  display: none;
}

/* main */
main {
  height: 100%;
  width: 100%;
}

/* device section */
.deviceSection {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.device {
  height: 90%;
  width: 80%;
  background-color: var(--device-color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: 0.5s;
}

.deviceFullSize {
  height: 100%;
  width: 100%;
  border-radius: 0px;
}

.screen {
  height: 85%;
  width: 90%;
  background-color: var(--screen-color);
  background-size: cover;
}

.startBtn {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-color: aliceblue;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnSquare {
  height: 15px;
  width: 15px;
  border: 2px solid black;
}
